/*style css*/
body{
    background-color: #009294;
    color: #ffffff;}
h1{
    background-color: yellow;
    text-align: center;}
h3{
    font-size: 16px;
    color: #FF0000;}
ol{
    border-style: dashed;
    border-width: 4px;
    border-color: blue;}