.re,
.b,
.g {
  width: 80px;
  height: 80px;
  color: aliceblue;
  text-align: center;
  list-style-type: none;
}
.can {
  padding: 31px 0px;
}
.b {
  background-color: blue;
}
.g {
  background-color: green;
}
.re {
  background-color: red;
}
.title {
  background-color: gray;
  border: 2px solid;
  height: 20px;
}