* {
    box-sizing: border-box; }
body{
    margin: 0;
    padding: 0;
}
h1{
    display: inline;
}


.menu-dau{
    
    width: 100%;
    height: 40px;
    background-color: rgb(91, 185, 167);
    display: flex; 
    margin-top: 20px;

}
.menu-dau a{
    text-decoration: none;
    padding-left: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-dau a:hover{
    background-color: rgb(41, 107, 92);
}


.grid-container{
    display: grid;
    grid-template-columns: 200px 600px auto 180px;
    padding: 10px;
}
.zoom-image {
    transition: transform 0.3s ease; 
    cursor: pointer; 
    max-width: 100%;
}

.zoom-image:hover {
    transform: scale(1.03);}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    width: 100%; 
    
}
.grid-right{
    display: grid;
    grid-template-rows: (6, 1fr);
    gap: 10px; 
    width: 100%; 
}
.grid-right a {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: black;

}
.grid-right a:hover{
    color: rgb(91, 185, 167);

}

.grid-right img {
    margin-right: 10px; 
}
