#menu ul{
    background: rgb(97, 165, 243) ;
    list-style-type: none;
    text-align: center;
}
#menu li{
    color:black ;
    display: inline-block;
    width: 220px;
    height:40px;
    line-height: 40px;
}
#menu ul li a{
    text-decoration: none ;
    color:black;
    display:block
}
#menu ul li a:hover {
    background: rgb(166, 209, 244);
    color: rgb(57, 151, 233);
}

.grid {
    display: grid;
    grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
    grid-column-gap: 10px;
  }
  .col img {
    object-fit:cover;
    width: 750px;
    height: 500px;
    display: block;
    transition: opacity 0.3s ease;
}

/* Hiệu ứng hover để thay đổi ảnh */
.col:hover {
    transform: scale(1.03); /* Phóng to ảnh khi hover */
}

/* Đặt vị trí của ảnh thay thế khi hover */
.col img:nth-child(2) {
    position: absolute;
    top: 0;
    width: 750px;
    height: 500px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.col:hover img:nth-child(2) {
    opacity: 1;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color:rgb(237, 241, 245) ;
}
* h1{color:rgb(7, 7, 89) }
body {
    background-color: rgb(223, 238, 247);
   
} 
h3{color:rgb(20, 31, 149); }
p{color:black ; font-size: 20px; font-family: sans-serif;}